nav {
	background-color: darkblue;
}

body {
	background-color: darkblue;
}

.logo {
    position: relative;
    float: left;
    width:  100px;
    height: 100px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}

image{
	width: 25%;
	height: 25%;
}

row {
	border:	solid;
	margin: 0 100px;
}

.format-font {
	font-family: "Times New Roman";
	margin: 0 20px 20px 20px;
	vertical-align: text-top;
	font-variant: small-caps;
	font-size: 40px;
	color: #9498A1;

}

span {
	display: inline;
	width: 10%;
	display: inline-block;
	float: left;
}