nav {
	background-color: darkblue;
}

body {
	background-color: darkblue;
}

label {
	color: gold;
}

h4 {
	color: gold;
}

label select {
	color: black;
}

img {
    position: relative;
    float: left;
    width:  200px !important;
    height: 200px !important;
}



row {
	border:	solid;
	margin: 0 100px;
}

.format-font {
	font-family: "Times New Roman";
	margin: 0 20px 20px 20px;
	vertical-align: text-top;
	font-variant: small-caps;
	font-size: 40px;
	color: #9498A1;

}
.format-font2 {
	font-family: "Times New Roman";
	margin: 0 20px 20px 20px;
	vertical-align: text-top;
	font-size: 40px;
	color: gold;

}


span {
	display: inline;
	width: 10%;
	display: inline-block;
	float: left;
}